body{
	background: white;
	font-family: arial; 
}
div{
	background: white;
	display: "none";
}
#UserLoggingIn
{
	display: "block";
}
#UserLoggedIn
{
	display: "none";
}
#CreateAccount
{
	display: "none";
}